$colors: (
    primary-bckg: #f5e7ca,
    dark-bckg: #1a1a1a,
    primary: rgb(67, 58, 196),
    checked-color: #3bbbbd,
    alt-color: #3bbbbd,
    btn-color-2: #e99c10,
    btn-color-3: #e9671bda,
    btn-hover: #000,
    red-color: rgb(248, 10, 10),
);
